rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth.uid != null;
    }

    match /lunches/{lunch} {
      allow read, write: if signedIn();
    }

    match /lunches/{lunch}/parties/{party} {
      allow read, write: if signedIn();
    }

    match /users/{user} {
      allow read: if signedIn();
    }

    match /slack-users/{user} {
      allow read: if signedIn();
    }
  }
}
