html, body {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "main"
    "footer-menu"
  ;

  main {
    grid-area: main;

    margin: 0 24px;
  }

  footer {
    grid-area: footer-menu;
    position: sticky;
    bottom: 0;
  }
}

header {
  h1 {
    font-size: 1.6em;
    margin: 16px 0;
  }
}

a:hover {
  text-decoration: none;
}


img.icon {
  height: 18px;
  border-radius: 8px;
  margin: 0 8px;
}

// * { -moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box; /* remember: box-sizing is not supported by IE7 :( */ outline: none;vertical-align: top;margin: 0;padding: 0;}
// *, *:after, *:before {
//     -webkit-box-sizing:border-box;
//     -moz-box-sizing:border-box;
//     box-sizing:border-box;
//     -webkit-transition: all .3s ease-out;
//     transition: all .3s ease-out;
// }

// html{ width: 100%; z-index: 1;}
// html,body{
//     font-family: montserrat, 'Noto Sans JP', sans-serif;
//     font-size: .9vw;
//     line-height: 1.6;
//     letter-spacing: .2vw;
//     font-weight: bold;
//     margin: 0;
//     padding: 0;
//     width: 100%;
//     height: 100%;
//     background-color: #f2f5fb;
//     color: #111;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
// img{width: 100%;}
// blockquote,body,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0;}
// p{margin: 0;padding: 0;}
// a{color: inherit;outline: none;margin: 0;padding: 0;text-decoration: none;}
// a,img,input[type="submiit"],.fa,a:after,a:before{
//     -webkit-transition: all 0.3s ease;
//     -moz-transition: all 0.3s ease;
//     -o-transition: all 0.3s ease;
//     transition: all 0.3s ease;
// }
// a,p,h1,h2,h3,h4,h5{display: block;position: relative;;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;margin: 0;padding: 0;}
// // input, button, textarea, select {font-size: 1vw;margin: 0;padding: 0;background: none;border: none;border-radius: 0;outline: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;width: 100%;}
// // input[type="radio"]{-webkit-appearance: radio;-moz-appearance: radio;appearance: radio;display: inline-block;}
// .clearfix:before,.clearfix:after {content: " ";display: table;}
// .clearfix:after {clear: both;}
// .clearfix {*zoom: 1;}
// .pc{display: block;}
// .sp{display: none;}
// .pc-tb{display: block;}
// .tb-sp{display: none;}
// .invisible{opacity: 0;}
// .visible{opacity: 1;}
// .hide{display: none;}
// .inline{display: inline-block;}
// .block{display: block;}


// /* color */
// $col_wh: #fff;
// $toggle-on-color: #5fc054;
// $toggle-off-color: #777;


/* checkbox -> toggle button */
// label {
//     cursor: pointer;
// }
// input[type='checkbox'] + label:before,
// input[type='checkbox'] + label:after {
// 	position: absolute;
// 	top: 50%;
// 	-webkit-box-sizing: border-box;
// 	box-sizing: border-box;
// 	margin-top: -7.5px;
// 	content: '';
// }
// input[type='checkbox'] + label:before {
// 	right: 0;
// 	width: 30px;
// 	height: 15px;
// 	border: 1px solid #e4e3e1;
// 	border-radius: 15px;
// 	background: $col_wh;
// }
// input[type='checkbox'] + label:after {
// 	right: 15px;
// 	width: 15px;
// 	height: 15px;
// 	-webkit-transition: all 200ms ease-out;
// 	transition: all 200ms ease-out;
// 	border-radius: 50%;
// 	background: $toggle-off-color;
// }
// input[type="checkbox"]:not(:checked) + label {
//     color: $toggle-off-color;
// }
// input[type='checkbox']:checked + label:after {
// 	right: 0;
// 	background: $toggle-on-color;
// }

// h1 {
//     font-size: 5vw;
// }

// @media only screen and (max-width: 768px) {

// .pc{display: none;}
// .sp{display: block;}
// .pc-tb{display: none;}
// .tb-sp{display: block;}
// html,body{
//     font-size: 3vw;
// }
// input, button, textarea, select {font-size: 16px;margin: 0;padding: 0;background: none;border: none;border-radius: 0;outline: none;-webkit-appearance: none;-moz-appearance: none;appearance: none;width: 100%;}

// }
